body {
    text-align: center;
    font-family: sans-serif;
    background-color: aqua;

}


h3{
    color: blue;

}

button {
    background-color: blueviolet;
    color: aliceblue;
    font-weight: 800;
    border: 2px solid brown;
    border-radius: 8px;
    cursor: pointer;





}

img {
    width: 500px;
    margin-top: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    background-size: cover;




}